@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <asset src="~/assets/vendor.js" />
  <asset src="~/assets/main.js" />
</head>
<body>
</body>
</html>
